
<footer class="site-footer site-footer-two">
    <div class="container">
        <div class="row">
            <div class=" footer-widget-area">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <section class="widget clearfix widget_lc_taxonomy">
                            <h3 class="widget-title">TRỤ SỞ CHÍNH</h3>
                            <ul>
                                <li>
                                    <b>Địa chỉ: </b> 184/10 Bãi sậy, Phường 4, Quận 6, TP.HCM
                                </li>
                                <li>
                                    <b>Điện thoại: </b> 093.28.28.53
                                </li>
                                <li>
                                    <b>Email: </b>diaocphonvinh@gmail.com
                                </li>
                                <li>
                                    <b>Website: </b>diaocphonvinh.com
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <section class="widget clearfix widget_lc_taxonomy">
                            <h3 class="widget-title">DỊCH VỤ</h3>
                            <ul>
                                <li class=""><a class="" href="/">Mua bán nhà</a>
                                <li class=""><a class="" href="/">Mua bán biệt thự</a></li>
                                <li class=""><a class="" href="/">Cho thuê nhà nguyên căn</a></li>
                                <li class=""><a class="" href="/">Cho thuê biệt thự</a></li>
                                <li class=""><a class="" href="/">Tư vấn thiết kế</a></li>
                                <li class=""><a class="" href="/">Ký gửi nhà đất</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <section class="widget clearfix widget_lc_taxonomy">
                            <h3 class="widget-title">TƯ VẤN XÂY DỰNG</h3>
                            <ul>
                                <li class=""><a class="" href="/">Mua bán nhà</a>
                                <li class=""><a class="" href="/">Mua bán biệt thự</a></li>
                                <li class=""><a class="" href="/">Cho thuê nhà nguyên căn</a></li>
                                <li class=""><a class="" href="/">Cho thuê biệt thự</a></li>
                                <li class=""><a class="" href="/">Tư vấn thiết kế</a></li>
                                <li class=""><a class="" href="/">Ký gửi nhà đất</a></li>
                            </ul>
                        </section>
                    </div>


                    <div class="col-sm-6 col-md-2">
                        <section id="inspiry_social_media_icons-1" class="widget clearfix widget_inspiry_social_media_icons">
                            <h3 class="widget-title">TIN MỚI</h3>
                            <div class="social-networks clearfix">
                                <ul>
                                    @Html.Raw(ViewBag.NewsHome2)
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<div style="background:#971718">
    <div class="container">
        <p class="copyright-text text-center" style="  padding: 10px;  color: #fff;">
            © Copyright @DateTime.Now.Year - <a href="/" style="  color: #fff;">Địa Ốc Phồn Vinh</a>
        </p>
    </div>
</div>
<style>
    h4.title-de {
        font-size: 12px;
        margin-bottom: 4px;
        border-bottom: 1px dashed #ef8889;
        padding-bottom: 6px;
    }
    .site-footer .social-networks a {
        margin: 0px 0px 0px 0;
    }
    .price-and-status {
        border-top: 2px solid #c62223;
        border-bottom: 2px solid #c62223;
        text-align: center;
        color: #c62223;
    }
    .property-listing-three-post .price {
        color: #c62223;
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 10px;
    }
    .property-listing-three-post .property-status {
        background-color: #c62223;
        color: #fff;
    }
    .property-listing-three-post .entry-title a {
        color: #c62223;
        font-size:16px;
        font-weight:bold
    }
    .property-listing-three-post .entry-title, .featured-properties-three .featured-property-post .entry-title {
        font-size: 20px;
        margin-bottom: 4px;
        height: 50px;
    }
    .property-listing-three-post .meta-value {
        color: #c62223;
        font-weight: bold;
    }
    i.fas.fa-dollar-sign {
        padding:5px;
        background: #c62223;
        padding-left: 10px;
        color: #fff;
        margin: 7px;
        padding-right: 10px;
    }
    .list-item-news {
        
    }
    .item-news-s {
        width: 49%;
        float: left;
        padding: 10px;
        box-shadow: 1px 1px 4px 3px #e8e6e6;
        margin-bottom: 10px;
        margin-right: 1%;
    }
    .item-news {
         
    }
    .img-news img{
        max-width:100%;
    }
    .t-news h6 {
        font-weight: bold;
        padding-top: 10px;
        font-size: 16px;
    }
    .t-news {
        max-height: 40px;
    }
</style>