@model WebDEV.Areas.admincp.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/admincp/Views/Shared/_AdminLayout.cshtml";
}

<h2>ChangePassword</h2>

@using (Html.BeginForm("ChangePassword", "Members", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <label>Mật khẩu cũ:</label>
    @Html.PasswordFor(model => model.OldPassword, new { @placeholder = "nhập mật khẩu cũ...", @class = "form-control" })

    <label>Mật khẩu:</label>
    @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "nhập mật khẩu mới...", @class = "form-control" })

    <label>Nhập lại mật khẩu:</label>
    @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "nhập lại mật khẩu mới...", @class = "form-control" })

    <hr />
    <input type="submit" value="Đổi mật khẩu" class="btn btn-warning" />
}